# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
.venv/
venv/

# Database
*.db
*.db-journal
*.db-wal
*.db-shm

# Download
downloads/
downloadss/

# Google Drive
credentials.json
token.pickle
*.pickle

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Docker
.docker/
